<div class="col-md-12 page-header-red">
    <button type="submit" class="btn btn-sm-back" ng-click="backToMainMenu()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        terug
    </button>
    <h1>Afspraken</h1>
</div>
<div ng-init="appointments = [
    {date:'24-02-2014', start:'15:05', end:'15:30', comment:'commentaar', location:'Heusden', doctor:'dokter X', type:'consultatie', info:'nuchter blijven', boeking:'persoon'},
        {date:'24-02-2014', start:'15:05', end:'15:30', comment:'commentaar', location:'Heusden', doctor:'dokter X'}]"/>
    <div class="col-md-6">
        <div class="alert alert-info" ng-show="showmessage"><span class="glyphicon glyphicon-info-sign"></span>{{errormessage}}</div>
        <ul class="list list_overflow_y_500 list-unstyled" ng-hide="showmessage">
            <li class="text-left" ng-repeat="appointment in appointments| orderBy:'start'">
                <h3>{{appointment.date}}</h3>
                <div class="btn-group btn-group-justified form-group">
                    <div class="text-left btn-default btn-lg" ng-click="details()">
                        <div class="float-right"><button class="btn btn-danger btn-lg" ng-click="delete(appointment.id)"><span class="glyphicon glyphicon-remove"></span></button></div>         
                        <div class="text-left"><b>Tijdstip:</b> {{appointment.start}}</div>
                        <div class="text-left"><b>Dokter:</b> {{appointment.doctor}}</div>
                        <div class="text-left"><b>Locatie:</b> {{appointment.location}}</div>
                        <div class="text-left"><b>Type afspraak:</b> {{appointment.type}}</div>
                        <div class="text-left"><b>Extra informatie:</b> {{appointment.info}}</div>
                        <div class="text-left"><b>Geboekt door:</b> {{appointment.boeking}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>