<nav class="navbar navbar-default" role="navigation">
    <button type="submit" class="btn btn-sm-back invisible">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('createAppointmentPrevious')}}
    </button>
    <div class="title">{{ getLocalizedString('createAppointmentStep5')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="col-md-12 text-center">
    <div class="well well-lg">
        <h2>{{ getLocalizedString('createAppointmentStep5EndCreate')}}</h2>
        <h4><span class="glyphicon glyphicon-calendar"></span><span style="position: relative; left:-12px;" class="glyphicon glyphicon-pencil"></span>{{getLocalizedString('createAppointmentStep5With')}} <b>{{newAppointment.proposal.unit_name}}</b> {{getLocalizedString('createAppointmentStep5On')}} <b>{{displayDate + " " + getLocalizedString('createAppointmentStep5At') + " " + newAppointment.proposal.time_from}}</b>
            {{getLocalizedString('createAppointmentStep5For')}} <b>{{newAppointment.patientInfo.firstname + " "  + newAppointment.patientInfo.lastname}}</b>.</h4>
        <h4>{{getLocalizedString('createAppointmentStep5Info')}}.</h4>
        <br>
        <h5>{{currentServers[newAppointment.server].hosp_full_name}} {{getLocalizedString('createAppointmentStep5Thanks')}}.</h5>
        <div class="text-center">
            <button class="btn btn-xl" ng-click="end()">{{getLocalizedString('createAppointmentStep5End')}}</button>
        </div>
    </div>
</div>