<div class="heightPercent widthPercent">
    <nav class="navbar navbar-default" role="navigation">
        <button type="submit" class="btn btn-sm-back" ng-click="back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ getLocalizedString('createAppointmentPrevious')}}
        </button>
        <div class="title">{{ getLocalizedString('createAppointmentStep3')}}</div>
        <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
    </nav>
    <div class="col-md-12 widthPercent">
        <div class="well well-sm widthPercent">
            <p class="input-group">
                <input type="text" ng-disabled="true" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="startProposalDate" ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="showCalendar = !showCalendar">{{ getLocalizedString('createAppointmentStep3SelectDate')}}</button>
                </span>
            </p>
            <div ng-show="showCalendar" class='widthPercent center-block' style="display:inline-block; min-height:290px;">
                <datepicker class="datePickCalendar well well-sm" ng-model="startProposalDate" datepicker-options="datePickerOptions" starting-day="1" min-date="today" date-disabled="disabled(date, mode)" format-day-title='MM/yyyy' show-weeks="false"></datepicker>
            </div>
            <div class="btn-group btn-group-justified day-filter-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-md" ng-model="filters[1]" btn-checkbox>{{days[1]}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-md" ng-model="filters[2]" btn-checkbox>{{days[2]}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-md" ng-model="filters[3]" btn-checkbox>{{days[3]}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-md" ng-model="filters[4]" btn-checkbox>{{days[4]}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-md" ng-model="filters[5]" btn-checkbox>{{days[5]}}</button>
                </div>
            </div><br/>
            <div class="btn-group btn-group-justified">
                <div class="day-filter-group btn-group btn-group-justified day-filter-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-md" ng-model="filters[6]" btn-checkbox>{{days[6]}}</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-md" ng-model="filters[0]" btn-checkbox>{{days[0]}}</button>
                    </div>
                </div>
                <div style="left: 10px; padding-right: 10px;" class="day-filter-group btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-md" ng-model="filters.morning" btn-checkbox>{{getLocalizedString('createAppointmentStep3Morning' + shortName)}}</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-md" ng-model="filters.afternoon" btn-checkbox>{{getLocalizedString('createAppointmentStep3Afternoon' + shortName)}}</button>
                    </div>
                </div>
            </div><br/>
            <div class="btn-group">
                <button style="width: 25%;" type="button" class="btn btn-default dropdown-toggle" ng-class="{'line-through-text': newAppointment.locations.length<=1}" ng-disabled="newAppointment.locations.length<=1" data-toggle="dropdown">
                    {{getLocalizedString("createAppointmentCampus")}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu list-group" role="menu">
                    <li ng-repeat="location in newAppointment.locations track by $index"><label class="widthPercent list-group-item icasaCheckbox icasaCheckbox-step2" ng-class="{'list-group-item-success':location.checked, 'icasaCheckboxChecked': location.checked, 'icasaCheckboxUnChecked': !location.checked}" ><input type="checkbox" class="invisible" ng-model="location.checked"/>{{location.location_name}}</label></li>
                </ul>
            </div>
            <div class="btn-group">
                <button style="width: 25%;" type="button" class="btn btn-default dropdown-toggle" ng-class="{'line-through-text': unitList.length<=1}" ng-disabled="unitList.length<=1" data-toggle="dropdown">
                    {{getLocalizedString("createAppointmentDoctor")}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdow-step3 list-group" role="menu">
                    <li ng-repeat="unit in unitList track by $index"><label class="widthPercent list-group-item icasaCheckbox icasaCheckbox-step2" ng-class="{'list-group-item-success':unit.checked, 'icasaCheckboxChecked': unit.checked, 'icasaCheckboxUnChecked': !unit.checked}" ><input type="checkbox" class="invisible" ng-model="unit.checked"/>{{unit.Header.unit_name}}</label></li>
                </ul>
            </div>
            <br><br><br><br>
            <div id="step3LoadingSpinner" class="has-spinner"><span class="glyphicon glyphicon-refresh"></span></div>
            <div class="AcceleratedList btn-group-vertical list list_proposals list-unstyled">
                <div class="btn btn-default btn-reservation btn-group-justified widthPercent" ng-repeat="proposal in filteredProposals = (proposals| orderBy:['setRespectiveDayNumber', 'afternoon', 'the_date', 'time_from'] | orderProposals:filters)" ng-class="{'icasa-appointment-selected': proposal===selectedProposal}"  ng-click="selectProposal(proposal)">
                    <div class=".container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                {{getDay(proposal)}}
                                <span ng-show="shortName"><br></span>
                                {{getDate(proposal)}}
                                <span ng-show="shortName"><br></span>
                                {{proposal.time_from}}
                            </div>

                            <div class="col-xs-4">
                                {{proposal.unit_name}}
                            </div>

                            <span ng-switch on="proposal.location">
                                <div ng-switch-when="">{{proposal.unit_name}}</div>
                                <div class="col-xs-4" ng-switch-default>{{proposal.location}}</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <h4>{{getLocalizedString('createAppointmentStep3Selected')}}</h4>
            <div class="form-control" ng-class="{proposalInfoText: selectedProposal}">{{proposalInfo}}</div>            
            <br/>
            <div class="text-center">
                <button class="btn btn-xl has-spinner" ng-click="next()" ng-disabled="!proposalInfo || proposalInfo === '' || loadingStep4" type="submit"><span class="glyphicon glyphicon-refresh" ng-show="loadingStep4"></span> {{getLocalizedString('createAppointmentNext')}}</button>
            </div>
        </div>
    </div>
</div>
