<nav class="navbar navbar-default" role="navigation" ng-controller="BackButtonCtrl">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('createAppointmentPrevious')}}
    </button>
    <div class="title">{{ getLocalizedString('createAppointmentStep2')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="col-md-12">
    <div class="well well-sm">
        <h4>{{getLocalizedString('createAppointmentStep2Info1')}} <b>{{newAppointment.unitOrGroupName}}</b> {{getLocalizedString('createAppointmentStep2Info2')}}</h4>
        <br>
        <form name="step2Form" novalidate>
            <table class="appointmentFormTable">
                <tr>
                    <td>
                        <p class="formLabel"><b>{{getLocalizedString('createAppointmentType')}}*</b></p>
                    </td>
                    <td>
                        <span class="has-spinner" ng-hide="typesLoaded"><span class="glyphicon glyphicon-refresh"></span></span>
                        <select class="form-control" ng-change="updateFormData()" ng-disabled="step2Blocked || !typesLoaded" name="typeSelect" ng-model="type" ng-options="type.type_title for type in typeList" required>
                            <option value=""> - {{getLocalizedString('createAppointmentStep2SelectType')}} - </option>
                        </select>

                    </td>
                </tr>
                <tr ng-hide="locations.length-blank_locations<=1;">
                    <td>
                        <p class="formLabel"><b>{{getLocalizedString('createAppointmentCampus')}}*</b></p>
                    </td>
                    <td>
                        <div class="list-group"  style="font-size: 15px;">
                            <label ng-repeat="location in locations track by $index" ng-show="location.location_name" class="widthPercent list-group-item icasaCheckbox icasaCheckbox-step2" ng-class="{'list-group-item-success':location.checked, 'list-group-item-danger':location.disabled,'icasaCheckboxChecked':location.checked, 'icasaCheckboxUnChecked':!location.checked}" ><input type="checkbox" ng-disabled="location.disabled" ng-model="location.checked" class="invisible" />{{location.location_name}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="formLabel"><b>{{getLocalizedString('createAppointmentStep2ReservationInfo')}}</b></p>
                    </td>
                    <td>
                        <div id="extraInfo" class="well AcceleratedList"></div>
                    </td>
                       
                </tr>
                <tr>
                    <td>
                        <p class="formLabel"><b>{{getLocalizedString('createAppointmentStep2ExtraInfo')}}</b></p>
                    </td>
                    <td>
                        <textarea style="resize: none;" class="form-control AcceleratedList" rows="3" ng-model="reservationInfo" placeholder="{{getLocalizedString('createAppointmentStep2ExtraInfoPlaceholer')}}" ></textarea>
                    </td>  
                </tr>
            </table>
            <div class="alert alert-danger" ng-show="displayError || type === null && step2Form.typeSelect.$dirty || !locationIsChecked()">
                {{getLocalizedString('createAppointmentStep2Error')}}
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-xl has-spinner" ng-disabled="loadingStep3 || step2Form.$invalid || !locationIsChecked()" ng-click="next(step2Form.$valid)" type="submit"><span class="glyphicon glyphicon-refresh hiddenBlock" id="loadingStep3Spinner"></span> {{getLocalizedString('createAppointmentNext')}}</button>
            </div>
        </form>
    </div>
</div>

