<nav class="navbar navbar-default" role="navigation" ng-controller="BackButtonCtrl">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('createAppointmentPrevious')}}
    </button>
    <div class="title">{{ getLocalizedString('createAppointmentStep2')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="col-md-12">
    <div class="well well-lg">
        <p>{{getLocalizedString('createAppointmentStep2Info1')}} <b>{{unitOrGroupName}}</b> {{getLocalizedString('createAppointmentStep2Info2')}}</p>
        <br>
        <form name="step2Form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                        <span>{{getLocalizedString('createAppointmentType')}}</span>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control input-xl">
                        <option value="">Selecteer een type</option>
                        </select> 
                    </div>
                </div>
            </div>
                
                
            <h3>{{getLocalizedString('createAppointmentCampus')}}</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-class="{'list-group-item-success' : waarde1}"><label class="widthPercent" style="font-size: 20px;"><input ng-init="waarde1=true" type="checkbox" ng-model="waarde1"/>Waarde1</label></li>
            </ul>
            <h3>{{getLocalizedString('createAppointmentStep2ReservationInfo')}}</h3>
            <textarea class="form-control" rows="3" ng-model="reservationInfo" ></textarea>
            <h3>{{getLocalizedString('createAppointmentStep2ExtraInfo')}}</h3>
            <textarea class="form-control" rows="3" ng-model="extraInfo" ></textarea>
            <button class="btn btn-xl" type="submit">{{getLocalizedString('createAppointmentNext')}}</button>
        </form>
    </div>
</div>
    