<nav class="navbar navbar-default" role="navigation" ng-controller="BackButtonCtrl">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('back')}}
    </button>
    <div class="title">{{ getLocalizedString('createAppointmentStep5')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>

<div class="col-md-12">
    <div class="well well-lg">
        <h4>{{getLocalizedString('createAppointmentStep5Info')}}</h4>
        <form name="step5form" id="step5form" ng-submit="next()" novalidate>
        </form>
    </div>
</div><!--<tr><td>
                        <input type="text" required name="name" ng-model="test"/></td>
                    <td><span ng-show="subForm.name.$error.required">required</span></td>
                    <td><button type="button" ng-disabled="subForm.$invalid" 
                                ng-click="submitOne('test')">Submit One</button></td>
                    </tr></table>-->