<nav class="navbar navbar-default" role="navigation">
    <button class="btn btn-sm-back" ng-click="logout()">
        <span class="glyphicon glyphicon-off"></span>
    </button>
    <div class="title">{{ getLocalizedString('appointmentsViewReservations')}}
        <div class="connection-status">
            <span class="glyphicon glyphicon-signal" ></span>  <span ng-show="isOffline" ng-class="{positionRelative: isOffline}" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>

<div class="col-md-12">
    <div class="well">
        <h4>{{getLocalizedString('createAppointmentGreeting')}}, {{user}}.</h4>
    </div>
</div>

<div class="mainMenuButtonArea">
    <button type="submit" class="btn btn-xl widthPercent" ng-click="createAppointment()">{{getLocalizedString('createAppointmentRequest')}}</button><br><br><br><br>
    <button type="submit" class="btn btn-xl widthPercent" ng-click="viewAppointments()">{{getLocalizedString('createAppointmentView')}}</button>
</div>
<div class="mainmenuImages">
    <div class="mainmenuImagesContent">
        <span class="" ng-repeat="image in images">
            <img ng-src="{{image}}" class="mainmenuImage"/>
        </span>
    </div>
</div>
<div class="nav navbar-fixed-bottom">
    <div class="text-center">
        <button class="btn btn-sm-settings" ng-click="settings()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>
</div>