<nav class="navbar navbar-default" role="navigation" ng-controller="BackButtonCtrl">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{getLocalizedString('back')}}
    </button>
    <div class="title">{{getLocalizedString('appointmentsViewReservations')}}
        <div class="connection-status">
            <span class="glyphicon glyphicon-signal" ></span>  <span ng-show="isOffline" ng-class="{positionRelative: isOffline}" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>

<div class="AppointmentsListFillPatient">
    <div class="AcceleratedList patientAppointment">
        <table class="table reservationTable">
            <tr>
                <th>Datum</th>
                <th>Tijdstip</th>
                <th>Type afspraak</th>
                <th>Dokter</th>
            </tr>
            <tr ng-repeat="reservation in reservationList| orderBy:'the_date'" >
                <td>
                    {{formatDate(reservation.the_date)}}
                </td>
                <td>
                    {{reservation.time_from}}
                </td>
                <td>
                    {{reservation.title}}
                </td>
                <td>
                    {{reservation.unit_name}}
                </td>
            </tr>
        </table>
        <div class="alert alert-info" ng-hide="reservationList.length"><span class="glyphicon glyphicon-info-sign"></span>{{ getLocalizedString('patientAppointmentsViewNoReservations')}}</div>
    </div>
</div>