<nav class="navbar navbar-default" role="navigation" ng-controller="SettingsPatientCtrl">
    <button type="submit" class="btn btn-sm-back" ng-click="save()" ng-disabled="settingsForm.$invalid">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{getLocalizedString('back')}}
    </button>
    <div class="title">{{getLocalizedString('settings')}}
        <div class="connection-status">
            <span class="glyphicon glyphicon-signal" ></span>  <span ng-show="isOffline" ng-class="{positionRelative: isOffline}" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="widthPercent">
    <form name="settingsForm" class="widthPercent" novalidate>
        <div class="col-md-12 list widthPercent">
            <div class="well widthPercent">          
                <h4>{{getLocalizedString('settingsLanguage')}}</h4>
                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsTabelLabel"><label class="tableLabel"></label></td>
                        <td><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(1)"
                                    btn-radio="1"><img src="img/flag_netherlands.png" alt="flag_netherlands" width="30" height="19"></button>
                        </td>
                        <td><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(2)"
                                    btn-radio="2"><img src="img/flag_france.png" alt="flag_france" width="30" height="19"></button>
                        </td>
                        <td><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(3)"
                                    btn-radio="3"><img src="img/flag_uk.png" alt="flag_uk" width="30" height="19"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12 list">
            <div class="well">
                <h4>{{getLocalizedString('settingsUserSettings')}}: </h4>
                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsTabelLabel"><label class="tableLabel">{{getLocalizedString('settingsAddDelete')}}</label></td>
                        
                        <td class="width25Percent"><button type="button" class="btn btn-sm-add btn-default" ng-click="addOrEditServer('newLocalUser')"><span class="glyphicon glyphicon-plus"></span></button></td>
                        <td class="width25Percent"><button type="button" class="btn btn-sm-add btn-default" ng-click="changeCurrentUser()"><span class="glyphicon glyphicon-transfer"></span></button></td>
                        <td class="width25Percent"><button type="button" class="btn btn-sm-add btn-danger" ng-click="deleteCurrentUser()"><span class="glyphicon glyphicon-minus"></span></button></td>   
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12 widthPercent">
            <div class="well widthPercent">
                <h4>{{ getLocalizedString('settingsServerSettings')}}: </h4>
                <div class="col-md-12">
                    <div class="shortcutButtons">
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server1Select()" 
                                btn-radio="selectedUser.servers[0]">{{abbreviation1}}<br/><img src="{{server1Img}}" id="serverImg" alt="hospi"></button>
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server2Select()" 
                                btn-radio="selectedUser.servers[1]">{{abbreviation2}}<br/><img src="{{server2Img}}" id="serverImg" alt="hospi" ng-show="showServer2"><span class="glyphicon glyphicon-plus" ng-hide="showServer2"></span></button>
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server3Select()" 
                                btn-radio="selectedUser.servers[2]">{{abbreviation3}}<br/><img src="{{server3Img}}" id="serverImg" alt="hospi" ng-show="showServer3"><span class="glyphicon glyphicon-plus" ng-hide="showServer3"></span></button>
                    </div>
                </div>
                <div class="input-group form-group widthPercent">
                    <span class="input-group-addon widthSettingsLabels settingsLabels">{{getLocalizedString('settingsUser')}}:</span>
                    <input id="username" class="form-control input-lg" type="text" ng-model="serverRadio.user_login" ng-disabled="true"/>
                </div>
                <div class="input-group form-group widthPercent">
                    <span class="input-group-addon widthSettingsLabels settingsLabels">{{getLocalizedString('loginPassword')}}:</span>
                    <input id="password" class="form-control input-lg" type="password" ng-model="serverRadio.user_password" ng-disabled="true"/>
                </div>

                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsLabels"><label class="tableLabel">{{getLocalizedString('settingsEditDelete')}}</label></td>
                        <td class="width25Percent">
                            &nbsp;
                        </td>
                        <td class="width25Percent">
                            <button type="button" class="btn btn-default btn btn-sm-add" ng-click="addOrEditServer('edit', serverRadio)">
                                <span class="glyphicon glyphicon-transfer"></span>
                            </button>
                        </td>
                        <td class="width25Percent">
                            <button type="button" class="btn btn-danger btn btn-sm-add" ng-click="deleteServer()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
