<nav class="navbar navbar-default" role="navigation">
    <button class="btn btn-sm-back" ng-click="logout()">
        <span class="glyphicon glyphicon-off"></span>
    </button>
    <div class="title">{{ getLocalizedString('appointmentsViewReservations')}}</div>
        
<!--        <span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-collapse" ng-click="changeIcon()">
                <span class="sr-only">Toggle navigation</span>
                <span class="{{iconImage}}"></span>
            </button>
        </span>-->
        
<!--        <div class="collapse navbar-collapse no-transition text-center" id="menu-collapse">
            <ul class="nav navbar-nav">
                <li><a class="btn btn-default" ng-click="filter()">{{ getLocalizedString('filter')}}</a></li>
                <li><a class="btn btn-default" ng-click="settings()">{{ getLocalizedString('settings')}}</a></li>
                <li><a class="btn btn-default" ng-click="logout()">{{ getLocalizedString('logout')}}</a></li>
            </ul>
        </div>-->
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="height70Percent widthPercent" ng-swipe-left="nextDay()" ng-swipe-right="previousDay()">
    <div class="col-md-12 height20Percent widthPercent">
        <div class="dateAppointmentsView width70Percent">
            <h4>{{showDate}}</h4>
            <div class="has-spinner">
                <span class="spinnerApointmentsCalendar" ng-show="loadingNext"><i class="glyphicon glyphicon-refresh"></i></span>
            </div>
        </div>
        <button class="btn btn-default btn-appointments-filter" ng-click="filter()">
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <div class="calendarButtonAppointmentsView width25Percent">
            <button class="has-spinner btn btn-default  btn-sm-calendar widthPercent" ng-click="calendarView()">
                <span ng-show="loadingCalendar" class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                <span ng-show="!loadingCalendar" ng-disabled="loadingCalendar" class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
    </div>
    <div class="well col-md-12 heightPercent widthPercent">
        <div class="animClass btn-group-vertical list list_overflow_y_100 list-unstyled widthPercent heightPercent">
            <div class="btn btn-default btn-lg btn-group-justified widthPercent reservationHeight" ng-repeat="reservation in filteredReservations = (reservations| orderBy:'time_from' | filter:{the_date:date, unit_name:unitFilter.Header.name, dep_name:depFilter.dep_name})" ng-click="details(reservation)" >
                <div class="widthPercent">
                    <div class="text-left widthPercent">
                        <span class="reservationHour">
                            {{reservation.time_from}}
                        </span>
                        <span class="reservationTitle"><!--ng-switch on="cellcontent"-->
                            {{reservation.name}} - {{reservation.title}}
                            <!--<span ng-switch-when="patient">&nbsp {{reservation.name}}</span>
                            <span ng-switch-default>&nbsp {{reservation.title}}</span>-->
                        </span>
                        <span class="reservationIcons">
                            <span ng-switch on="reservation.the_comment">
                                <span ng-switch-when="">&nbsp</span>
                                <span ng-switch-default><b>C</b></span>
                            </span>
                        </span>
                    </div>
                    <div class="text-left reservationSubInfo widthPercent">
                        <span class="reservationHour">
                            &nbsp
                            <span ng-switch on="reservation.color" class="colorMarking">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color2" class="colorMarking">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color2)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color3" class="colorMarking">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color3)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color4" class="colorMarking">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color4)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color5" class="colorMarking">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color5)" class="colorMarking">&nbsp</span>
                            </span>
                        </span>
                        <span class="reservationUnitDep">
                            {{reservation.unit_name}} / {{reservation.dep_name}}
                        </span>
                        <span class="reservationIcons">
                            <img ng-show="getStatusIcon(reservation)!=='none'" ng-src="img/{{ getStatusIcon(reservation) }}" alt="appointment status"/>
                        </span>
                         &nbsp
                    </div>
                </div>
            </div>
            <div class="alert alert-info" ng-hide="filteredReservations.length"><span class="glyphicon glyphicon-info-sign"></span>{{ getLocalizedString('appointmentsViewNoReservations')}}</div>
        </div>
    </div>
</div>
<div class="nav navbar-fixed-bottom text-center">
    <button class="btn btn-sm-settings" ng-click="settings()">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
</div>