<div class="col-md-12 page-header-red">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('back') }}
    </button>
    <h1>{{ getLocalizedString('appointmentsViewReservations') }}</h1>
</div>
<div class="col-md-12 form-group text-right"> 
    <button class="btn btn-default btn-lg" id="todayBtn" ng-click="today()">{{ getLocalizedString('appointmentsCalendarToday') }}</button>
    <button class="btn btn-default btn-lg" id="weekendBtn" ng-click="weekend()">{{ getLocalizedString('appointmentsCalendarWeekends') }}</button>
    <span class="has-spinner" ng-controller="searchCtrl">
        <span class="btn-group">
            <button class="btn btn-default btn-lg" ng-click="prev();"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button class="btn btn-default btn-lg" ng-click="next();"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </span>
        <span class="spinnerApointmentsCalendar" ng-show="loadingMonth"><i class="glyphicon glyphicon-refresh"></i></span>
    </span>  
</div>
<div class="form-group calendarWrapper">
    <div class="col-md-12 calendarHeight">
        <div id="doctorCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="doctorCalendar"></div> 
    </div>
</div>
