<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="title">Afspraken</span>
    </div>
    <div class="collapse navbar-collapse no-transition" id="navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a ng-click="settings()">Settings</a></li>
        
        <li><a ng-click="logout()">Afmelden</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--<div class="col-md-12 page-header-red">
    <button class="btn btn-sm-back" ng-click="logout()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        afmelden
    </button>
    <span class="title">Afspraken</span>

    <button type="button" class="btn-sm-menu dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-list"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li><a ng-click="settings()">Settings</a></li>
        <li class="divider"></li>
        <li><a ng-click="logout()">Afmelden</a></li>
    </ul>

</div>-->

<div class="" ng-swipe-left="nextDay()" ng-swipe-right="previousDay()">
    <div class="col-md-12 height10Percent">
        <div class="dateAppointmentsView">
            <h4>{{showDate}}</h4>
        </div>
        <div class="calendarButtonAppointmentsView">
            <button class="has-spinner btn btn-default btn-sm-menu" ng-click="calendarView()">
                <span ng-show="loadingCalendar" class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                <span ng-show="!loadingCalendar" ng-disabled="loadingCalendar" class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
    </div>
    <div class="well col-md-12 heightPercent">
        <div class="btn-group-vertical list list_overflow_y_100 list-unstyled widthPercent heightPercent">
            <div class="btn btn-default btn-lg btn-group-justified widthPercent reservationHeight" ng-repeat="reservation in filteredReservations = (reservations| orderBy:'time_from' | filter:{the_date:date})" ng-click="details(reservation)" >
                <div class="widthPercent">
                    <!--<div class="float-right"><a class="" ng-click="delete(reservation.id)"><span class="glyphicon glyphicon-remove-circle"></span></a></div>         
                    -->
                    <div class="text-left widthPercent">
                        <span class="float-left reservationHour">
                            {{reservation.time_from}}
                        </span>
                        <span class="float-left colorWrapper">
                            &nbsp
                            <span ng-switch on="reservation.color">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color2">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color2)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color3">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color3)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color4">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color4)" class="colorMarking">&nbsp</span>
                            </span>
                            <span ng-switch on="reservation.color5">
                                <span ng-switch-when=""></span>
                                <span ng-switch-default ng-style="style(reservation.color5)" class="colorMarking">&nbsp</span>
                            </span>
                        </span>
                        <span ng-switch on="reservation.the_comment">
                            <span ng-switch-when="">&nbsp &nbsp</span>
                            <span ng-switch-default><b>C</b></span>
                        </span>
                        <span class="reservationTitle" ng-switch on="cellcontent">
                            <span ng-switch-when="patient">&nbsp {{reservation.name}}</span>
                            <span ng-switch-default>&nbsp {{reservation.title}}</span>
                        </span>
                    </div>
                    <div class="text-left reservationSubInfo widthPercent">
                        <span class="float-left reservationHour">
                            &nbsp
                        </span>
                        <span class="float-left colorWrapper">
                            &nbsp &nbsp
                        </span>
                        <span ng-switch on="reservation.the_comment">
                            &nbsp
                        </span>
                        <span class="reservationUnitDep" ng-switch on="cellcontent">
                            {{reservation.unit_name}} / {{reservation.dep_name}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" ng-hide="filteredReservations.length"><span class="glyphicon glyphicon-info-sign"></span>{{ getLocalizedString('appointmentsViewNoReservations')}}</div>
        </div>
    </div>
</div>
