<div class="col-md-12 page-header-red">
    <button type="submit" class="btn btn-sm-back" ng-click="backToMainMenu()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        terug
    </button>
    <h1>Afspraken</h1>
</div>
<div>
    <div class="form-group">
        <select class="form-control input-xl" ng-model="server" ng-options="server as server.hosp_full_name for server in servers">
        </select>
    </div>
    <hr>
    <div class="shortcutButtons">
        <button type="button" class="btn btn-primary btn-lg-shortcut shortcutButton" ng-click="search('shortcut1')" ng-show="shortcut1Saved">{{server.shortcut1.unit.Header.name}}<br/>&nbsp{{server.shortcut1.department.dep_name}}</button>
        <button type="button" class="btn btn-primary btn-lg-shortcut shortcutButton" ng-click="search('shortcut2')" ng-show="shortcut2Saved">{{server.shortcut2.unit.Header.name}}<br/>&nbsp{{server.shortcut2.department.dep_name}}</button>
        <button type="button" class="btn btn-primary btn-lg-shortcut shortcutButton" ng-click="search('shortcut3')" ng-show="shortcut3Saved">{{server.shortcut3.unit.Header.name}}<br/>&nbsp{{server.shortcut3.department.dep_name}}</button>
    </div>
</div>
<div class=" col-md-12">
    <div class="well text-center">
        <select class="form-control input-xl" ng-model="manual.unit" ng-options="unitorgroup as unitorgroup.Header.name group by unitorgroup.type for unitorgroup in unitsandgroups" ng-change="loadDep()">
            <option value="">- Selecteer een dokter -</option>
        </select></br>
        <select class="form-control input-xl" ng-model="manual.department" ng-options="dep as dep.dep_name for dep in departments.Dep" ng-hide="disable">
            <option value="">- Selecteer een departement -</option>
        </select></br>
        <button class="btn btn-primary btn-lg" ng-click="search('manual')">Zoek reservaties</button>
    </div>
</div>

<script type="text/ng-template" id="searchModal">
    <div class="modal-header">
    <p>Er zijn de volgende 14 dagen geen afspraken gevonden.
    Wilt u verder zoeken?</p>
    </div>
    <div class="modal-body">
    <button class="btn btn-default btn-lg" ng-click="ok()">ja</button>
    <button class="btn btn-default btn-lg" ng-click="cancel()">nee</button>
    </div>
</script>