<nav class="navbar navbar-default" role="navigation">
    <button class="btn btn-sm-back" ng-click="logout()">
        <span class="glyphicon glyphicon-off"></span>
    </button>
    <div class="title">{{ getLocalizedString('appointmentsViewReservations')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="height60Percent widthPercent" ng-swipe-left="nextDay()" ng-swipe-right="previousDay()">
    <div class="col-md-12 height20Percent widthPercent">
        <div class="dateAppointmentsView dateAppointmentsViewScaled">
            <h4>{{showDate}}</h4>
            <div class="has-spinner">
                <span class="spinnerApointmentsCalendar" ng-show="loadingNext"><i class="glyphicon glyphicon-refresh"></i></span>
            </div>
        </div>

        <div class="width25Percent">
            <button class="btn btn-default btn-appointments-filter" ng-class="{true:'btn-success', false:'btn-default', '':'btn-default'}[filterActive]" ng-click="filter()">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
            <button class="has-spinner btn btn-default  btn-sm-calendar widthPercent" ng-click="calendarView()">
                <span ng-show="loadingCalendar" class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                <span ng-show="!loadingCalendar" ng-disabled="loadingCalendar" class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
    </div>
    <div class="col-md-12 filterText" ng-switch="filterActive">
        <span ng-switch-when="false"></span>
        <span ng-switch-when=""></span>
        <span ng-switch-default>
            Filter: {{serverFilter.hosp_short_name}}
            <span ng-switch="unitFilter">
                <span ng-switch-when=""></span>
                <span ng-switch-default> > </span>
            </span>
            {{unitFilter.Header.name}} 
            <span ng-switch="depFilter">
                <span ng-switch-when=""></span>
                <span ng-switch-default> > </span>
            </span>
            {{depFilter.dep_name}}
        </span>
    </div>
    <div class="well well-sm col-md-12 heightPercent widthPercent">
        <div class="animClass btn-group-vertical list list_overflow_y_100 list-unstyled widthPercent heightPercent">
            <div class="btn btn-default btn-reservation btn-group-justified widthPercent" ng-style="styleTest(reservation)" ng-repeat="reservation in filteredReservations = (reservations| orderBy:'time_from' | filter:{the_date:date, unit_name:unitFilter.Header.name, dep_name:depFilter.dep_name})" ng-click="details(reservation)" >
                <div class=".container-fluid">
                    <div class="row">
                        &nbsp;
                        <div class="col-xs-1 reservationHour">
                            {{reservation.time_from}} 
                        </div>
                        <div class="col-xs-1 reservationHour">
                            <span ng-switch on="oneServer">
                                <span ng-switch-when="true"></span>
                                <span ng-switch-default>{{reservation.hosp_short_name}}</span>
                            </span>
                        </div>

                        <div class="col-xs-6 reservationTitle">
                            <span ng-switch on="cellcontentPatient">
                                <span ng-switch-when="false"></span>
                                <span ng-switch-default>{{reservation.name}} 
                                    <span ng-switch on="cellcontentTitle">
                                        <span ng-switch-when="false"></span>
                                        <span ng-switch-default>/</span>  
                                    </span>
                                </span>   
                            </span>

                            <span ng-switch on="cellcontentTitle">
                                <span ng-switch-when="false">
                                    <span ng-switch on="cellcontentDepartment">
                                        <span ng-switch-when="false"></span>
                                        <span ng-switch-default>/</span> 
                                    </span>
                                </span>
                                <span ng-switch-default>{{reservation.title}}</span>
                            </span>

                            <span ng-switch on="cellcontentDepartment">
                                <span ng-switch-when="false"></span>
                                <span ng-switch-default>
                                    <span ng-switch on="cellcontentTitle">
                                        <span ng-switch-when="false"></span>
                                        <span ng-switch-default>/</span>   
                                    </span>
                                    {{reservation.dep_name}}</span> 
                            </span>
                        </div>

                        <div class="col-xs-1">
                            <img ng-show="reservation.the_comment !== ''" ng-src="img/comment.png" alt="appointment comment"/>
                        </div>
                        <div class="col-xs-1 float-right">
                            <img ng-show="getStatusIcon(reservation) !== 'none'" ng-src="img/{{ getStatusIcon(reservation)}}" alt="appointment status"/>
                        </div>
                        <div class="col-xs-1 float-right">
                            <img ng-show="reservation.application === '1'" ng-src="img/Internet Explorer.png" alt="appointment reservationtype" height="15" width="15"/>
                        </div>
                        <!--<div class="col-xs-3 reservationComment">
                            <div class="row">
                                <div class="col-xs-1">
                                    <span ng-switch on="reservation.the_comment">
                                        <span ng-switch-when="">&nbsp</span>
                                        <span ng-switch-default><b>C </b></span>
                                    </span>
                                </div>
                                <div class="col-xs-3">
                                    <img ng-show="getStatusIcon(reservation) !== 'none'" ng-src="img/{{ getStatusIcon(reservation)}}" alt="appointment status"/>
                                </div>
                                <div class="col-xs-3">
                                    <img ng-show="reservation.application === '1'" ng-src="img/Internet Explorer.png" alt="appointment reservationtype" height="15" width="15"/>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="alert alert-info" ng-hide="filteredReservations.length"><span class="glyphicon glyphicon-info-sign"></span>{{ getLocalizedString('appointmentsViewNoReservations')}}</div>
        </div>
    </div>
</div>
<div class="nav navbar-fixed-bottom">
    <div class="text-center">
        <button class="btn btn-sm-settings" ng-click="settings()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>
</div>
<span ng-controller="refreshCtrl"></span>