<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span>
                <button type="submit" class="btn btn-sm-back" ng-click="back()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ getLocalizedString('back')}}
                </button>
            </span>
            <div class="title">{{ getLocalizedString('appointmentsViewReservations')}}</div>
        </div>
    </div>
</nav>
<div class="col-md-12 widthPercent" ng-swipe-left="nextAppointment()" ng-swipe-right="previousAppointment()">
    {{getLocalizedString('appointmentDetail')}}
    <div class="well detailTable widthPercent">
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailId')}}</span><span class="detailDetail">{{reservation.id}}</span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailTitle')}}</span><span class="detailDetail">{{reservation.title}}</span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailBooking')}}</span><span class="detailDetail">{{reservation.user_name}}</span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailMarking')}}</span><span class="detailDetail">
                <span ng-switch on="reservation.color">
                    <span ng-switch-when=""></span>
                    <span ng-switch-default>{{reservation.colortitle1}} </span>
                </span>
                <span ng-switch on="reservation.color2">
                    <span ng-switch-when=""></span>
                    <span ng-switch-default>{{reservation.colortitle2}} </span>
                </span>
                <span ng-switch on="reservation.color3">
                    <span ng-switch-when=""></span>
                    <span ng-switch-default>{{reservation.colortitle3}} </span>
                </span>
                <span ng-switch on="reservation.color4">
                    <span ng-switch-when=""></span>
                    <span ng-switch-default>{{reservation.colortitle4}} </span>
                </span>
                <span ng-switch on="reservation.color5">
                    <span ng-switch-when=""></span>
                    <span ng-switch-default>{{reservation.colortitle5}} </span>
                </span>
            </span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailType')}} </span><span class="detailDetail">
                <span ng-switch on="reservation.rstatus">
                    <span ng-switch-when="1">{{getLocalizedString('appointmentDetailFinal')}}</span>
                    <span ng-switch-default>{{getLocalizedString('appointmentDetailProposal')}}</span>
                </span></span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailComment')}}</span><span class="detailDetail">{{reservation.the_comment}}</span></div>
    </div>
    {{getLocalizedString('appointmentDetailPatient')}}
    <div class="well detailTable widthPercent">
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailPatientId')}}</span><span class="detailDetail">{{reservation.unique_pid}}</span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailPatientName')}}</span><span class="detailDetail">{{reservation.name}}</span></div>
        <div class="detailTableRow"><span class="detailTitle">{{getLocalizedString('appointmentDetailPatientNational')}}</span><span class="detailDetail">{{reservation.reg_no}}</span></div>
    </div>
</div>
