<nav class="navbar navbar-default" role="navigation">
    <button type="submit" class="btn btn-sm-back" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ getLocalizedString('back')}}
    </button>
    <div class="title">{{ getLocalizedString('appointmentsViewReservations')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="height70Percent">
    <div class="col-md-12 widthPercent">
        <div class="dateAppointmentsView width70Percent">
            <h1>{{displayMonthDate}}</h1>
        </div>
    </div>
    <div class="col-md-12 form-group text-right"> 
        <div class="has-spinner" ng-controller="searchCtrl">
            <span class="btn-group">
                <button class="btn btn-default btn-lg" ng-click="prev();"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default btn-lg" ng-click="next();"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </span>
            <span class="spinnerApointmentsCalendar" ng-show="loadingMonth"><i class="glyphicon glyphicon-refresh"></i></span>
        </div>
        <button class="btn btn-default btn-lg" id="todayBtn" ng-click="today()">{{ getLocalizedString('appointmentsCalendarToday')}}</button>
        <button class="btn btn-default btn-lg" id="weekendBtn" ng-click="weekend()">{{ getLocalizedString('appointmentsCalendarWeekends')}}</button>
    </div>
    <div class="form-group calendarWrapper">
        <div class="col-md-12 calendarHeight">
            <div id="doctorCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="doctorCalendar"></div> 
        </div>
    </div>
</div>
<span ng-controller="refreshCtrl"></span>
