<nav class="navbar navbar-default" role="navigation">
    <button class="btn btn-sm-back invisible"></button>
    <div class="title">{{ getLocalizedString('settings')}}</div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="col-md-12">
    <div class="well">
        <div class="input-group widthPercent btn-group">
            <button type="button" class="btn btn-default btn-lg-shortcut languageButton" ng-model="languageRadio" ng-click="changeLanguage(1)"
                    btn-radio="1">Nederlands<br/><img src="img/flag_netherlands.png" alt="flag_netherlands" width="60" height="38"></button>
            <button type="button" class="btn btn-default btn-lg-shortcut languageButton" ng-model="languageRadio" ng-click="changeLanguage(2)"
                    btn-radio="2">français<br/><img src="img/flag_france.png" alt="flag_france" width="60" height="38"></button>
            <button type="button" class="btn btn-default btn-lg-shortcut languageButton" ng-model="languageRadio" ng-click="changeLanguage(3)"
                    btn-radio="3">English<br/><img src="img/flag_uk.png" alt="flag_uk" width="60" height="38"></button>
        </div>
        <h2 ng-show="languageSelected">{{ getLocalizedString('newGreeting') }}</h2>
        <div class="form-group" ng-show="languageSelected">
            <p>
                {{ getLocalizedString('newInfo').split("_")[0] }}<br/><br/>
                {{ getLocalizedString('newInfo').split("_")[1] }}
            </p>
            <table>
                <tr>
                    <td>{{ getLocalizedString('newInfo').split("_")[2] }}</td>
                    <td>{{ getLocalizedString('newInfo').split("_")[3] }}</td>
                </tr>
                <tr>
                    <td>{{ getLocalizedString('newInfo').split("_")[4] }}</td>
                    <td>{{ getLocalizedString('newInfo').split("_")[5] }}</td>
                </tr>
            </table><br/>
                <select class="form-control input-xl" ng-model="server" ng-options="server as server.hosp_full_name for server in servers" ng-change="serverSelected = true; checkForKiosk();
                    accountRadio = null; accountTrue = null;">
                    <option value="">- {{ getLocalizedString('newServerSelectDefault') }} -</option>
                </select> 
        </div>
        <br>
        <div class="form-group" ng-show="serverSelected">
            <p>{{ getLocalizedString('newServerHasAccount') }}</p>
            <div class="input-lg">
                <div class="btn-group btn-group-lg btn-block">
                    <button type="button" class="btn btn-width btn-primary btn-large" ng-model="accountRadio" ng-click="accountTrue = true;
                        accountFalse = false" btn-radio="'ja'">{{ getLocalizedString('yes') }}</button>
                    <button type="button" class="btn btn-width btn-primary btn-large" ng-model="accountRadio" ng-click="accountFalse = true;
                        accountTrue = false" btn-radio="'nee'">{{ getLocalizedString('no') }}</button>
                </div>
            </div>
        </div>
        <br>
        <div ng-show="checkingForKiosk">Checking...</div>
        <div class="form-group" ng-show="accountTrue">
            <p>{{requestMessage}}{{ getLocalizedString('newServerEnterAccount') }}</p>
            <form name="loginForm" novalidate ng-submit="login()">
                <div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" id="username" class="form-control input-lg" placeholder="{{ getLocalizedString('loginUsername') }}" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group" ng-hide="showPasswordBoolean">
                        <div class="input-group">
                            <span class="input-group-addon btn" ng-click="showpassword()" ng-hide="showPasswordBoolean"><span class="glyphicon glyphicon-eye-close"></span></span>
                            <input type="password" id="password" class="form-control input-lg" placeholder="{{ getLocalizedString('loginPassword') }}" ng-model="password" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="showPasswordBoolean">
                        <div class="input-group">
                            <span class="input-group-addon btn" ng-click="showpassword()" ng-show="showPasswordBoolean"><span class="glyphicon glyphicon-eye-close"></span></span>
                            <input type="text" id="password" class="form-control input-lg" placeholder="{{ getLocalizedString('loginPassword') }}" ng-model="password" required>
                        </div>
                    </div>
                    <div class="checkbox">         
                        <label class="checkbox">
                            <input type="checkbox" ng-model="savePassword" ng-click="savePasswordWarning()">{{ getLocalizedString('loginAutomaticallyEnterPassword') }}
                        </label>
                    </div>
                    <div class="alert alert-danger" ng-show="error">{{errormessage}}</div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-xl has-spinner" ng-disabled="loginForm.$invalid||loggingIn">
                            <span ng-show="loggingIn"><i class="glyphicon glyphicon-refresh"></i></span>
                            {{ getLocalizedString('login') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="!hasKiosk&&accountFalse&&!checkingForKiosk">Deze instelling heeft geen kiosk</div>
        <div class="form-group" ng-show="accountFalse&&hasKiosk">
            <select name="userFunctionSelect" class="form-control input-xl" ng-model="userFunctionSelect" ng-options="userFunction for userFunction in userFunctionList" ng-change="userFunctionSelected = true;
                accountRadio = null">
                <option value="">- {{ getLocalizedString('newFunctionSelectDefault') }} -</option>
            </select>
        </div>
        
        <div class="form-group" ng-show="userFunctionSelected&&accountFalse">
            <p>{{ getLocalizedString('newUserEnterDetails') }}</p>
            <form name="createAccountForm" novalidate ng-submit="requestAccount()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.firstName.$valid"></span></span>
                        <input type="text" name="firstName" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserFirstName') }}" ng-model="firstName" required>
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.firstName.$dirty && createAccountForm.firstName.$invalid">
                        <span ng-show="createAccountForm.firstName.$error.required">{{ getLocalizedString('newUserFirstName') + " " +getLocalizedString('isRequired')+"." }}</span>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.lastName.$valid"></span></span>
                        <input type="text" name="lastName" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserLastName') }}" ng-model="lastName" required>
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.lastName.$dirty && createAccountForm.lastName.$invalid">
                        <span ng-show="createAccountForm.lastName.$error.required">{{ getLocalizedString('newUserLastName') + " " +getLocalizedString('isRequired')+"." }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.dateOfBirth.$valid"></span></span>
                        <input type="text" id="dateOfBirth" name="dateOfBirth" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserDateOfBirth') }}" ng-model="dateOfBirth" required ng-pattern="/^([0-9]{2})/([0-9]{2})/([0-9]{4})$/">
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.dateOfBirth.$dirty && createAccountForm.dateOfBirth.$invalid">
                        <span ng-show="createAccountForm.dateOfBirth.$error.required">{{ getLocalizedString('newUserDateOfBirth') + " " +getLocalizedString('isRequired')+"." }}</span>
                        <span ng-show="createAccountForm.dateOfBirth.$error.pattern">{{ getLocalizedString('newUserDateIncorrect')}} dd/mm/yyyy.</span>
                    </div>
                </div>
                
                 <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.emailAddress.$valid"></span></span>
                        <input type="email" id="emailAddress" name="emailAddress" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserEmail') }}" ng-model="emailAddress" required>
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.emailAddress.$dirty && createAccountForm.emailAddress.$invalid">
                        <span ng-show="createAccountForm.emailAddress.$error.required">{{ getLocalizedString('newUserEmail') + " " +getLocalizedString('isRequired')+"." }}</span>
                        <span ng-show="createAccountForm.emailAddress.$error.email">{{ getLocalizedString('newUserEmailIncorrect')}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.confirmEmailAddress.$valid"></span></span>
                        <input type="email" id="confirmEmailAddress" name="confirmEmailAddress" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserEmailConfirm') }}" ng-model="confirmEmailAddress" confirmemail="emailAddress" required>
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.confirmEmailAddress.$dirty && createAccountForm.confirmEmailAddress.$invalid">
                        <span ng-show="createAccountForm.confirmEmailAddress.$error.required">{{ getLocalizedString('newUserEmailConfirmRequired')}}</span>
                        <span ng-show="createAccountForm.confirmEmailAddress.$error.emailmatch">{{ getLocalizedString('newUserEmailConfirmIncorrect')}}</span>
                    </div>
                </div>
                
                <div class="form-group" ng-show="needsNationalReg(userFunctionSelect)">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.nationalRegister.$valid" ></span></span>
                        <input type="number" id="nationalRegister" name="nationalRegister" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserNatReg') }}" ng-model="nationalRegister" checknational ng-required="needsNationalReg(userFunctionSelect)">
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.nationalRegister.$dirty && createAccountForm.nationalRegister.$invalid">
                        <span ng-show="createAccountForm.nationalRegister.$error.number">Rijksregisternummer moet een nummer van 11 tekens zijn.</span>
                        <span ng-show="createAccountForm.nationalRegister.$error.required">{{ getLocalizedString('newUserNatReg') + " " +getLocalizedString('isRequired')+" "+getLocalizedString('and')+ " " + getLocalizedString('mustBeNumber')+"."}}</span>
                        <span ng-show="createAccountForm.nationalRegister.$error.checknational">{{ getLocalizedString('newUserNatRegIncorrect')}}</span>
                    </div>
                </div>
                
                <div class="form-group" ng-show="needsRiziv(userFunctionSelect)" >
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.rizivNumber.$valid"></span></span>
                        <input type="number" id="rizivNumber" name="rizivNumber" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserRiziv') }}" ng-model="rizivNumber" riziv ng-required="needsRiziv(userFunctionSelect)">
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.rizivNumber.$dirty && createAccountForm.rizivNumber.$invalid">
                        <span ng-show="createAccountForm.rizivNumber.$error.required">{{ getLocalizedString('newUserRiziv') + " " +getLocalizedString('isRequired')+" "+getLocalizedString('and')+ " " + getLocalizedString('mustBeNumber')+"."}}</span>
                        <span ng-show="createAccountForm.rizivNumber.$error.riziv">{{ getLocalizedString('newUserRizivIncorrect')}}</span>
                    </div>
                </div>
                
                <div class="form-group" ng-show="userFunctionSelect===getLocalizedString('newFunctionRepresentative')" >
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ok" ng-show="createAccountForm.firmName.$valid"></span></span>
                        <input type="text" id="firmName" name="firmName" class="form-control input-lg" placeholder="{{ getLocalizedString('newUserFirm') }}" ng-model="firmName" ng-required="userFunctionSelect===getLocalizedString('newFunctionRepresentative')">
                    </div>
                    <div class="alert alert-danger" ng-show="createAccountForm.firmName.$dirty && createAccountForm.firmName.$invalid">
                        <span ng-show="createAccountForm.firmName.$error.required">{{ getLocalizedString('newUserFirm')+" "+ getLocalizedString('isRequired') }}.</span>
                    </div>
                </div>
               
                <div class="form-group text-center">
                    <button type="submit" ng-disabled="createAccountForm.$invalid" class="btn btn-xl">{{ getLocalizedString('newUserRequest') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<script type="text/ng-template" id="searchModal">
    <div class="modal-header">
    <p>{{ getLocalizedString('loginNoReservationsFound') }}</p>
    </div>
    <div class="modal-body form-group">
    <div class="input-lg">
    <div class="btn-group btn-group-lg btn-block">
    <button class="btn btn-width btn-primary btn-large" ng-click="ok()">{{ getLocalizedString('yes') }}</button>
    <button class="btn btn-width btn-primary btn-large" ng-click="cancel()">{{ getLocalizedString('no') }}</button>
    </div>
    </div>
    </div>
</script>-->

