<nav class="navbar navbar-default" role="navigation">
    <button type="submit" class="btn btn-sm-back" ng-click="save()" ng-disabled="settingsForm.$invalid">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{getLocalizedString('back')}}
    </button>
    <div class="title">{{getLocalizedString('settings')}}
        <div class="connection-status">
            <span class="glyphicon glyphicon-signal" ></span>  <span ng-show="isOffline" ng-class="{positionRelative: isOffline}" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <img onclick="window.open('http://www.icasa-group.com', '_system');" class="icasaLogo" src="img/ICASA_logo_200px.png" alt="ICASA logo" />
</nav>
<div class="widthPercent">
    <form name="settingsForm" class="widthPercent" novalidate>
        <div class="col-md-12 list">
            <div class="well">
                <h4>{{getLocalizedString('settingsCellcontent')}}:</h4>
                <table class="table">
                    <tr>
                        <td>
                            <span id="settingsPatient" class="settingsLabels">{{getLocalizedString('settingsPatient')}}</span>
                        </td>
                        <td class="text-right">
                            <img ng-src="img/checkbox{{checkboxImgPatient}}.png" ng-click="changeCheckbox('Patient')"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="settingsTitle" class="settingsLabels">{{getLocalizedString('settingsTitle')}}</span>
                        </td>
                        <td class="text-right">
                            <img ng-src="img/checkbox{{checkboxImgTitle}}.png" ng-click="changeCheckbox('Title')"/>  
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="settingsDepartment" class="settingsLabels">{{getLocalizedString('settingsDepartment')}}</span>
                        </td>
                        <td class="text-right">
                            <img ng-src="img/checkbox{{checkboxImgDepartment}}.png" ng-click="changeCheckbox('Department')"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12 list widthPercent">
            <div class="well widthPercent">          
                <h4>{{getLocalizedString('settingsApplicationSettings')}}: </h4>
                <div class="form-group widthPercent">
                    <div class="input-group widthPercent">
                        <span class="input-group-addon widthSettingsLabels settingsLabels">{{getLocalizedString('settingsRefresh')}}:</span>
                        <input id="refresh" name="refreshrate" type="text" ng-model="selectedUser.refreshrate" class="form-control input-lg" min="30" max="7200" ng-pattern="/^[0-7]?[0-9]?[0-9][0-9]$/" required/>
                        <span class="input-group-addon settingsLabels">{{getLocalizedString('settingsRefreshUnit')}}</span>
                    </div>
                    <div class="alert alert-danger input-group widthPercent" ng-show="settingsForm.refreshrate.$dirty && settingsForm.refreshrate.$invalid">
                        <span ng-show="settingsForm.refreshrate.$error.min">{{getLocalizedString('settingsRefreshMin')}}</span>
                        <span ng-show="settingsForm.refreshrate.$error.max">{{getLocalizedString('settingsRefreshMax')}}</span>
                        <span ng-show="settingsForm.refreshrate.$error.pattern">{{getLocalizedString('settingsRefreshDecimal')}}</span>
                        <span ng-show="settingsForm.refreshrate.$error.required">{{getLocalizedString('isRequired')}}</span>
                    </div>
                </div>

                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsLabels settingsLabels">{{getLocalizedString('settingsLanguage')}}</td>
                        <td class="width30Percent"><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(1)"
                                    btn-radio="1"><img src="img/flag_netherlands.png" alt="flag_netherlands" width="30" height="19"></button>
                        </td>
                        <td class="width30Percent"><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(2)"
                                    btn-radio="2"><img src="img/flag_france.png" alt="flag_france" width="30" height="19"></button>
                        </td>
                        <td class="width30Percent"><button type="button" class="btn btn-sm-add btn-default" ng-model="languageRadio" ng-click="changeLanguage(3)"
                                    btn-radio="3"><img src="img/flag_uk.png" alt="flag_uk" width="30" height="19"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12 list">
            <div class="well">
                <h4>{{getLocalizedString('settingsUserSettings')}}: </h4>
                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsLabels settingsLabels">{{getLocalizedString('settingsAddDelete')}}</td>
                        <td class="width30Percent"><button type="button" class="btn btn-sm-add btn-default" ng-click="addOrEditServer('newLocalUser')"><span class="glyphicon glyphicon-plus"></span></button></td>
                        <td class="width30Percent"><button type="button" class="btn btn-sm-add btn-danger" ng-click="deleteCurrentUser()"><span class="glyphicon glyphicon-minus"></span></button></td>
                        <td class="width30Percent">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12 widthPercent">
            <div class="well widthPercent">
                <h4>{{ getLocalizedString('settingsServerSettings')}}: </h4>
                <div class="col-md-12">
                    <div class="shortcutButtons">
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server1Select()" 
                                btn-radio="servers[0]">{{abbreviation1}}<br/><img src="{{server1Img}}" alt="hospi" width="64" height="90"></button>
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server2Select()" 
                                btn-radio="servers[1]">{{abbreviation2}}<br/><img src="{{server2Img}}" alt="hospi" width="64" height="90" ng-show="showServer2"><span class="glyphicon glyphicon-plus" ng-hide="showServer2"></span></button>
                        <button type="button" class="btn btn-default btn-lg-shortcut shortcutButton" ng-model="serverRadio" ng-click="server3Select()" 
                                btn-radio="servers[2]">{{abbreviation3}}<br/><img src="{{server3Img}}" alt="hospi" width="64" height="90" ng-show="showServer3"><span class="glyphicon glyphicon-plus" ng-hide="showServer3"></span></button>
                    </div>
                </div>
                <div class="input-group form-group widthPercent">
                    <span class="input-group-addon widthSettingsLabels settingsLabels">{{getLocalizedString('settingsUser')}}:</span>
                    <input id="username" class="form-control input-lg" type="text" ng-model="serverLogin" ng-disabled="true"/>
                </div>
                <div class="input-group form-group widthPercent">
                    <span class="input-group-addon widthSettingsLabels settingsLabels">{{getLocalizedString('loginPassword')}}:</span>
                    <input id="password" class="form-control input-lg" type="password" ng-model="serverPassword" ng-disabled="true"/>
                </div>

                <table class="table table-condensed list">
                    <tr>
                        <td class="widthSettingsLabels settingsLabels">{{getLocalizedString('settingsEditDelete')}}</td>
                        <td class="width30Percent">
                            <button type="button" class="btn btn-default btn btn-sm-add" ng-click="addOrEditServer('edit', serverRadio)">
                                <span class="glyphicon glyphicon-transfer"></span>
                            </button>
                        </td>
                        <td class="width30Percent">
                            <button type="button" class="btn btn-danger btn btn-sm-add" ng-click="deleteServer()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td class="width30Percent">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>