/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.list_overflow{
    height:250px;
    width:90%;
    text-align: center;
    overflow:scroll;
}

.list_overflow_y{
    height:300px;
    text-align: center;
    overflow-y:scroll;
}

.list_overflow_y_500{
    height:100%;
    text-align: center;
    overflow-y:scroll;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.float-comment{
    float:right;
    margin-right: 20%;
}
.heightPercent{
    height:100%;
}
.widthPercent{
    width:100%;
}
.height80Percent{
    height: 80%;
}
.height70Percent{
    height:70%;
}
.height60Percent{
    height: 60%;
}
.height20Percent{
    height: 20%;
}
.height10Percent{
    height: 10%;
}
.calendarWrapper{
    height:70%;
}
.calendarHeight{
    height: 100%;
}
#doctorCalendar{
    max-height:100%;
    overflow-y:scroll; 
}
.savePassword{
    width:10%;
    height:10%;
}
.shortcutButtons{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.shortcutButton{
    font-size: 50%;
    height: 100px;
    width: 30%;
}

.dateAndCalendar{
    margin:10px 5px 30px 5px;
}

.colorMarking{
    padding: 5px 1px;
}

.colorWrapper{
    width: 15%;
    height: 100%;
}

.reservationHeight{
    max-height:20%;
}
.reservationTitle{
    display: inline-block;
    font-size:15px;
    width: 50%;
}

.reservation{
}

.reservationHour{
    width: 20%;
    font-size: 15px;
}

.detailTitle{
    width: 30%;
    display: table-cell;
}

.detailInfo{
    width: 70%;
    display: table-cell;
}

.detailTableRow{
    display: table-row;
}

.detailTable{
    display: table;
}

.todayWrapper{
    text-align: center;
    float:right;
}

/*http://stackoverflow.com/questions/15305914/bootstrap-buttons-get-stuck-down-on-mobile-devices*/
.mobileHoverFix:hover,
.mobileHoverFix.hover{
    background-position: 0 0px;
}

@-webkit-keyframes spinning
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

.has-spinner .glyphicon-refresh {
    -webkit-animation: spinning 1s linear infinite;
    animation: spinning 1s linear infinite;
}
.dateAppointmentsView{
    display: inline-block;
    margin-bottom:10px;
}

.calendarButtonAppointmentsView{
    float: right;
    display: inline-block;
}

.spinnerApointmentsCalendar{
    float: left;
    margin: 10px 10px;
}

#weekendBtn{
    font-size: 10px;
}
#todayBtn{
    font-size: 10px;
}